body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#unity-container {
  position: absolute;
  overflow: hidden;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}
#unity-canvas {
  background: url(mars_background_washedout.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  width: 90vw;
  left: 50%;
  top: 7%;
  transform: translate(-50%, -50%);
  display: none;
}
#mars-logo-container {
  position: absolute;
  bottom: 0%;
  left: 50%;
  object-fit: contain;
  transform: translate(-50%, 50%);
}

#mars-logo {
  height: 40vw;
  width: 40vw;
  object-fit: contain;
  /* background-size: cover;
  background-position: center; */
}
@media (prefers-reduced-motion: no-preference) {
  #mars-logo {
    animation: App-logo-spin infinite 20s linear;
    transform: translate(50%, 50%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#lunar_module {
  position: absolute;
  bottom: 33%;
  left: 50%;
  transform: translate(-50%);
}

#lunar_vehical {
  animation: slide-tr 10s infinite cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes slide-tr {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-30%) translateX(30%);
  }
  50% {
    transform: translateY(-40%) translateX(-30%);
  }
  75% {
    transform: translateY(-30%) translateX(0%);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
#unity-progress-bar-empty {
  width: 100%;
  height: 10%;
  margin-top: 10px;
  background: transparent;
}
#unity-progress-bar-full {
  width: 0%;
  height: 1vh;
  margin-top: 10px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(121, 57, 81, 1) 0%,
    rgba(246, 88, 96, 1) 100%
  );
}
